@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.container {
    display: flex;
    margin: auto;
    background: ghostwhite;
    padding: 10px;
    width: 75%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    align-content: center;
    align-items: center;
    border-radius: 20px;
}

.formSearch {
    display: inline;
    margin: auto;
}

.searchString {
    display: inline;
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    margin: auto;
    height: 44px;
}

.button {
    display: inline;
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
    height: 44px;
}

.button:hover {
    background: #0b7dda;
}

.button:after {
    content: "";
    clear: both;
    display: table;
}

.appendNextButton {
    display: flex;
    margin: auto;
    width: 100px;
    padding: 10px;
    background: #2196F3;
    cursor: pointer;
    color: white;
    font-size: 14px;
    border: 1px solid grey;
    border-left: none;
    height: 44px;
    text-align-all: center;
}

.answered {
    background: #00FF00;
}

a:link {
    text-decoration: none;
    color: deepskyblue;
}

a:hover {
    color: dodgerblue;
}

th, tr, td {
    border-bottom: 1px solid lightslategray;
}

td {
    padding: 15px;
}

table {
   width: 100%;
}

thead {
    font-size: 18px;
    font-weight: bold;
}